In [1]:
import re
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
%matplotlib inline 
import matplotlib.pyplot as plt
import os
import nltk
# use wordnet find the first level keywords
from nltk.corpus import wordnet as wn
import spacy

In [ ]:
from spacy import displacy
# a = nlp(u'Nick is awesome! ')

# displacy.render(a, style='ent', jupyter=True)

# print(a.text)
# for ent in a.ents:
#     if ent.label_ == 'PERSON':
#         a.text = a.text.replace(ent.text, '')
        
# print(a.text)
# # displacy.render(a, style='ent', jupyter=True)
# text = "Nick was very communicative and gracious enough to transport me to and from the light rail upon my arrival and departure, and went the extra mile by leaving me maps, recommendations, and even printed out a bus route based on where I'd told him I planned on going."
# do = nlp(text)
# for ent in do.ents:
#     print(ent.text, ent.label_)

# # first sentence
# newdoc = nlp(list(doc.sents)[0].text)
# # displacy.render(newdoc, style='dep', jupyter=True, options={'distance': 90})
# newdoc

In [4]:
# Load Necessary Data: reviews
reviews_df = pd.read_csv("./Data/reviews.csv", encoding="utf-8")
reviews_df.columns = ['home_id', 'review_id', 'date', 'reviewer_id', 'reviewer_name', 'comments']
reviews_df.dropna()
sample1_df = pd.read_csv("./Data/sample_data_for_testing", sep='\t', encoding="utf-8")
sample1_df = sample1_df.drop("Unnamed: 0", axis=1)
df1 = sample1_df[['home_id', 'scores_location']]
df2 = reviews_df[['home_id', 'review_id', 'comments']]

sample1_rh_df = pd.merge(df1, df2, on="home_id")

----------------------------------------
Total number of reviews: 68638
----------------------------------------

,home_id,scores_location,review_id,comments
0,241032,9.0,682061,Excellent all the way around. \r\n\r\nMaija wa...
1,241032,9.0,691712,Maija's apartment was a wonderful place to sta...
2,241032,9.0,702999,one of the most pleasant stays i've had in my ...

In [6]:
sample2_rh_df = sample1_rh_df
print('*' * 40 + '\nThere are:\n' + '-' * 40)
print(str(len(sample2_rh_df.groupby('home_id'))) + " Airbnb homes in total.\n" + '-' * 40)
print(str(len(sample2_rh_df)) + " reviews in total.\n" + '-' * 40)

****************************************
There are:
----------------------------------------
2225 Airbnb homes in total.
----------------------------------------
68638 reviews in total.
----------------------------------------

In [7]:
df1 = pd.DataFrame(sample2_rh_df.groupby(['scores_location'])['home_id'].nunique())
df2 = pd.DataFrame(sample2_rh_df.groupby(['scores_location'])['review_id'].nunique())
location_overview_df = pd.merge(df1, df2, on = 'scores_location')
location_overview_df.columns = ['number of homes', 'number of reveiws']
location_overview_df

                 number of homes  number of reveiws
scores_location
4.0                            1                  1
6.0                            4                  4
7.0                           15                134
8.0                           90               1344
9.0                          634              23796
10.0                        1481              43359

In [3]:
# sample2_rh_df is a copy of sample1_rh_df to 
# in case unexpected modification for original data.
sample2_rh_df = sample1_rh_df
print('*' * 40 + '\nThere are:\n' + '-' * 40)
print(str(len(sample2_rh_df.groupby('home_id'))) + " Airbnb homes in total.\n" + '-' * 40)
print(str(len(sample2_rh_df)) + " reviews in total.\n" + '-' * 40)

****************************************
There are:
----------------------------------------
2225 Airbnb homes in total.
----------------------------------------
68638 reviews in total.
----------------------------------------

In [ ]:
# for k in a.keys():
#     if a[k]['total_score'] != 0:
#         print(k, a[k]['total_score'], a[k]['sentence'])

In [ ]:
# def compute_score_sum(sen_keywords, aspect_keywords):
#     score = 0
#     for token1 in sen_keywords:
#         for token2 in aspect_keywords:
#             score += token1.similarity(token2)
#     return score

In [ ]:
# Functions used to do sentence extraction.
import spacy 
nlp = spacy.load('en')

def parseSentence(doc):
    return [sent for sent in doc.sents]

def token_text(doc):
    for token in doc:
        print('"' + token.text + '"')
        
def see_entity(doc):
    for ent in doc.ents:
        print(ent.text, ent.label_)
        
# Uses stopwords for english from NLTK, and all puntuation characters by default
r = Rake()
r.get_ranked_phrases_with_scores

def keyword_extraction(txtContent):
    r.extract_keywords_from_text(txtContent)
    return r.get_word_degrees()

In [ ]:
# def sents_sim_score(doc, aspect, sim):
    
#     sent_asp_sim_score_df = pd.DataFrame(columns = ['sentence_id', 'aspect_sim_score', 'text'])
    
#     aspect_keywords = nlp(' '.join(aspect_keywords_dic[aspect]))
    
#     for which_sen in range(len(list(doc.sents))):
        
#         new_doc = list(doc.sents)[which_sen].text        
#         sen_keywords = nlp(new_doc)
#         aspect_sim_score = compute_score(sen_keywords, aspect_keywords, sim)
#         sent_asp_sim_score_df.loc[which_sen] = [which_sen, aspect_sim_score, new_doc]
    
#     return sent_asp_sim_score_df