In [1]:
import re
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
%matplotlib inline 
import matplotlib.pyplot as plt
# import seaborn as sns

## First Step: Select Airbnb Homes for Research

In [6]:
fields = ['id', 'price', 'last_scraped','number_of_reviews', 'review_scores_rating', 
          'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 
          'review_scores_communication', 'review_scores_location', 'review_scores_value', 
          'reviews_per_month']
homes_df = pd.read_csv("./Data/listings.csv", encoding = "utf-8", usecols = fields)

homes_df.columns = ['home_id', 'last_scraped', 'price', 'number_of_reviews',
                    'scores_overall', 'scores_accuracy', 'scores_cleanliness', 
                    'scores_checkin', 'scores_communication', 'scores_location', 
                    'scores_value', 'reviews_per_month']
homes_df = homes_df.dropna() # removed 660 homes which are lack of some score information
homes_df.head(3)

,home_id,last_scraped,price,number_of_reviews,scores_overall,scores_accuracy,scores_cleanliness,scores_checkin,scores_communication,scores_location,scores_value,reviews_per_month
0,241032,2016-01-04,$85.00,207,95.0,10.0,10.0,10.0,10.0,9.0,10.0,4.07
1,953595,2016-01-04,$150.00,43,96.0,10.0,10.0,10.0,10.0,10.0,10.0,1.48
2,3308979,2016-01-04,$975.00,20,97.0,10.0,10.0,10.0,10.0,10.0,10.0,1.15

In [7]:
# change price from string to integer such as "$85.00" to "85"
def extract_price(s):
    return int(''.join(re.findall(r"\d+", s.split('.')[0])))

homes_df.price = [extract_price(p) for p in homes_df.price]
homes_df.head(3)

,home_id,last_scraped,price,number_of_reviews,scores_overall,scores_accuracy,scores_cleanliness,scores_checkin,scores_communication,scores_location,scores_value,reviews_per_month
0,241032,2016-01-04,85,207,95.0,10.0,10.0,10.0,10.0,9.0,10.0,4.07
1,953595,2016-01-04,150,43,96.0,10.0,10.0,10.0,10.0,10.0,10.0,1.48
2,3308979,2016-01-04,975,20,97.0,10.0,10.0,10.0,10.0,10.0,10.0,1.15

In [9]:
print(max(homes_df.last_scraped))
print(min(homes_df.last_scraped))

2016-01-04
2016-01-04

In [10]:
print("There are " + str(len(homes_df)) + " airbnb homes.")
print("The price ranging from $" + str(min(homes_df.price)) + " to $" 
      + str(max(homes_df.price)) + ".")

There are 3158 airbnb homes.
The price ranging from $25 to $1000.

In [12]:
# len(homes_sample_df)
len(homes_df)

3158

In [13]:
homes_df.to_csv('./Data/selected_data_for_research.csv', sep='\t', encoding='utf-8')

**********************************************************************************************
## Next Step: Combine selected homes with its reviews

In [14]:
# Load Necessary Data: reviews
reviews_df = pd.read_csv("./Data/reviews.csv", encoding="utf-8")
reviews_df.columns = ['home_id', 'review_id', 'date', 'reviewer_id', 'reviewer_name', 'comments']
reviews_df.dropna()
reviews_df.head(2)
len(reviews_df)

84849

In [15]:
print(min(reviews_df.date), max(reviews_df.date))
# reviews_df.groupby('comments').count()
reviews_df = reviews_df[reviews_df.comments != 'The host canceled this reservation the day before arrival. This is an automated posting.']
len(reviews_df)

2009-06-07 2016-01-03

84792

In [16]:
from langdetect import detect
def lang_detection(series):
    isEn = []
    for text in series:
        try:
            language = detect(text)
        except:
            language = "error"
            print("This row throws and error:", text)
        
        if language == 'en':
            isEn.append(True)
        else:
            isEn.append(False)
            
    return isEn
#     return [True if detect(text) == 'en' else False for text in series]

In [17]:
lang_isen = lang_detection(reviews_df.comments)

This row throws and error: .
This row throws and error: ...
This row throws and error: :)
This row throws and error: -
This row throws and error: nan
This row throws and error: :)
This row throws and error: nan
This row throws and error: nan
This row throws and error: nan
This row throws and error: nan
This row throws and error: *
This row throws and error: nan
This row throws and error: nan
This row throws and error: nan
This row throws and error: .
This row throws and error: nan
This row throws and error: nan
This row throws and error: nan
This row throws and error: nan
This row throws and error: nan
This row throws and error: .
This row throws and error: nan
This row throws and error: nan
This row throws and error: nan
This row throws and error: ..
This row throws and error: .
This row throws and error: .
This row throws and error: nan
This row throws and error: nan
This row throws and error: .

In [18]:
reviews_df = reviews_df[lang_isen]

In [19]:
reviews_df.head()

,home_id,review_id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [20]:
sample1_df = pd.read_csv("./Data/selected_data_for_research.csv", sep='\t', encoding="utf-8")
sample1_df = sample1_df.drop("Unnamed: 0", axis=1)
sample1_df.head(2)

,home_id,last_scraped,price,number_of_reviews,scores_overall,scores_accuracy,scores_cleanliness,scores_checkin,scores_communication,scores_location,scores_value,reviews_per_month
0,241032,2016-01-04,85,207,95.0,10.0,10.0,10.0,10.0,9.0,10.0,4.07
1,953595,2016-01-04,150,43,96.0,10.0,10.0,10.0,10.0,10.0,10.0,1.48

In [21]:
# Merge the reviews and homes in the sample data.
df1 = sample1_df[['home_id', 'scores_cleanliness', 'scores_location']]
df2 = reviews_df[['home_id', 'review_id', 'comments']]
sample1_rh_df = pd.merge(df1, df2, on="home_id")
sample1_rh_df.head(3)
# sample1_rh_df.stack()[0].comments

,home_id,scores_cleanliness,scores_location,review_id,comments
0,241032,10.0,9.0,682061,Excellent all the way around. \r\n\r\nMaija wa...
1,241032,10.0,9.0,691712,Maija's apartment was a wonderful place to sta...
2,241032,10.0,9.0,702999,one of the most pleasant stays i've had in my ...

In [22]:
# set(sample1_rh_df.home_id)
# set(homes_df)
set(homes_df.home_id) - set(sample1_rh_df.home_id)
# print(len(set(sample1_rh_df.home_id)), len(homes_df))

{7873208, 8097708, 9558353}

In [25]:
homes_df[homes_df.home_id == 7873208]
homes_df[homes_df.home_id == 9558353]

,home_id,last_scraped,price,number_of_reviews,scores_overall,scores_accuracy,scores_cleanliness,scores_checkin,scores_communication,scores_location,scores_value,reviews_per_month
760,9558353,2016-01-04,70,1,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.77

**********************************************************************************************
## Last Step: Get homes and reviews data for sentence analysis
### Find data for `cleanliness` and `location` aspects 
**********************************************************************************************
#### Brief Summary & Necessary Functions

In [23]:
# sample2_rh_df is a copy of sample1_rh_df to 
# in case unexpected modification for original data.
sample2_rh_df = sample1_rh_df
print('*' * 40 + '\nThere are:\n' + '-' * 40)
print(str(len(sample2_rh_df.groupby('home_id'))) + " Airbnb homes in total.\n" + '-' * 40)
print(str(len(sample2_rh_df)) + " reviews in total.\n" + '-' * 40)

****************************************
There are:
----------------------------------------
3155 Airbnb homes in total.
----------------------------------------
83682 reviews in total.
----------------------------------------

In [31]:
# group by aspect scores
def overview_df(aspect):
    df1 = pd.DataFrame(sample2_rh_df.groupby([aspect])['home_id'].nunique())
    df2 = pd.DataFrame(sample2_rh_df.groupby([aspect])['review_id'].nunique())
    overview_df = pd.merge(df1, df2, on = aspect)
    overview_df.columns = ['number of homes', 'number of reveiws']
    return overview_df
# what makes people comments

# Input: the expecting aspect and score
# Output: the DataFrame with selected homes and their reviews information
def home_sample_review(score, aspect, overview_df):
    num_home = overview_df.loc[score].values[0]
#     num_review = overview_df.loc[score].values[1]
#     tmp = num_review/2000
#     avy_num_review = num_review/num_home
#     size = num_home/tmp
    # Generate a uniform random sample using random
    data = list(set(sample2_rh_df[sample2_rh_df[aspect] == score].home_id))
    sample_home = np.random.choice(data, 75, replace=False)
    
    while not sample_validation(sample_home):
        sample_home = np.random.choice(data, 75, replace=False)
        if sample_validation(sample_home):
            break
        else:
            continue

    sample_home_review = sample2_rh_df[sample2_rh_df['home_id'].isin(sample_home)]
    print("Selected 75 homes among " + str(num_home) + " homes with score " + str(score) + ".\nSample home_ids:")
    print(sample_home)
    print("With in total: " + str(len(sample_home_review)) + ' reviews.')
    
    return sample_home_review

# This is a function is to guarantee:
# the number of reviews of the selected homes keeps around 1500.
def sample_validation(sample_home):
    sample_home_review = sample2_rh_df[sample2_rh_df['home_id'].isin(sample_home)]
    return True if np.abs(len(sample_home_review) - 2000) <= 100 else False

**********************************************************************************************
#### Get data for `cleanliness` aspect

Group homes with <= 7.0 cleanliness score together.
Based on literature review, the airbnb review score has positive bias. So, for score equal to or less than 7, we can assume there is a negetive implication of the homes.
As for homes with >= 9.0 score, randomly select sample as long as gurrantee 1500 number of reviews.

In [32]:
clean_overview_df = overview_df('scores_cleanliness')
clean_overview_df
# clean_overview_df['number of reveiws']/clean_overview_df['number of homes']

                    number of homes  number of reveiws
scores_cleanliness
3.0                               1                  2
4.0                               4                  9
5.0                               5                 23
6.0                              30                107
7.0                              40                511
8.0                             183               3569
9.0                             740              22197
10.0                           2152              57264

In [33]:
# number of review selection around 1500.
clean_score7_df = sample2_rh_df[sample2_rh_df['scores_cleanliness'] <= 7.0]
print('Selected all homes with score no more than 7.0. \nSample home_ids:')
print(list(set(clean_score7_df.home_id)))
print("With in total: " + str(len(clean_score7_df)) + ' reviews.')
print('*' * 90)
clean_score8_df = home_sample_review(8.0, 'scores_cleanliness', clean_overview_df)
print('*' * 90)
clean_score9_df = home_sample_review(9.0, 'scores_cleanliness', clean_overview_df)
print('*' * 90)
clean_score10_df = home_sample_review(10.0, 'scores_cleanliness', clean_overview_df)
print('*' * 90)

clean_score7_df.to_csv('./Data/clean_score7_df.csv', sep='\t', encoding='utf-8')
clean_score8_df.to_csv('./Data/clean_score8_df.csv', sep='\t', encoding='utf-8')
clean_score9_df.to_csv('./Data/clean_score9_df.csv', sep='\t', encoding='utf-8')
clean_score10_df.to_csv('./Data/clean_score10_df.csv', sep='\t', encoding='utf-8')

Selected all homes with score no more than 7.0.
Sample home_ids:
[7965184, 3291777, 6363779, 8754180, 3770248, 6370313, 1764233, 8594059, 4041868, 3766285, 9151374, 5479566, 666897, 7245586, 7934356, 4701205, 7093910, 1520533, 30712, 639130, 3889050, 3888924, 3534364, 716829, 6250399, 613151, 9509279, 5252515, 8934054, 4951079, 5353512, 3226793, 8083242, 8555304, 299817, 6865200, 7985714, 7203765, 5261239, 6992696, 670009, 8922554, 4340410, 8050232, 6864319, 2769088, 1520581, 670021, 3697351, 5639238, 4082250, 1520593, 8227710, 4550099, 7844444, 5126365, 9183838, 9519968, 8863714, 5078244, 6958436, 9075558, 6623079, 6959336, 7732071, 2856806, 5637990, 8067053, 4773614, 3593582, 6120046, 4892529, 3424242, 6717555, 7975026, 1145590, 3052151, 2357110, 3732094, 3096191]
With in total: 652 reviews.
******************************************************************************************
Selected 75 homes among 183 homes with score 8.0.
Sample home_ids:
[3732103 1815304 8391954 1950446 7219838 7634011 4264056 9303530 4716486
  264829 3155785 1724849 1541705 6852288 6705584 5364609 4632923  278192
 4130112 8631419  606297 7987846 7649837 8553556 9411935 1039766 7095802
 5618094 6337492 8147215  293890 3528627 1840671 5487653 5062445 7940358
 8578490 1589461 6436772  719233 1107845 9134196 7219541 7401671 7999692
 1190571 7386675 6278216 3562617  637710 6528192  338091 2909809 6425537
 3811872 7970663  258571 4384000   15108 8517235 4808173 9157232 8843162
 1831338 1773803 5931372 4258515 9532861 4681885 5459895  859467 9511777
 7667990 8355276 1709737]
With in total: 2026 reviews.
******************************************************************************************
Selected 75 homes among 740 homes with score 9.0.
Sample home_ids:
[4854767 1783382  442487 6226666 2418658  479653 6557297 8409975 4061051
 3250577 7821003 7952930 7430926 8155710 3124383 4825472  573942 3386862
 6412566 9863484  654734 6249536 3689416   13068 5123904 1416763 4111954
 6655233 5297143 2520890  670056   19611 4231670 2039149  458186 2898401
 4388148 5660792 7828222 4138423 7809718 3803212 6629278 5310193 7843145
 1521633   86185  486344  286712 8053921 9016362 2016613 2966415 9034515
 1145148 4242626 6994406 6716620 2986056 9389755 7596455 4258762 6882518
  132120 2134911 8221520 7349099 3040278 6780670 1432713 7934963 7149703
  486829  444221 1483944]
With in total: 2014 reviews.
******************************************************************************************
Selected 75 homes among 2152 homes with score 10.0.
Sample home_ids:
[6657574 9015088 5805907 7635966 4776823 8453633 5959816 5031357 1851863
  320704 9374358 7550234 5236979 7678814 5218550 2721575 2727984 4565370
  555182 5651254 2373176 3986788 3258213  117165 4922836 5252877 6821407
  394408  825574 4520179 7699356 2822984 5625964 8147986 3673759 9957555
 4238106 1159226 7198282 4811583 7763298  215882 4872699 7247720 6577729
 3544964 6675927 8308316  182716 6274351 4947002 4616695 4240933 6629132
 4449303 2489283 2692126 3882930 7070169 9727857 3076065 7455068 2723368
 6228474 8086294 6773472 7902330 7956337 1198799 8608233 3231850 3652434
 9318524 3979496 8919372]
With in total: 1984 reviews.
******************************************************************************************

In [44]:
len(list(set(clean_score7_df.home_id)))

80

**********************************************************************************************
#### Get data for `location` aspect

Group homes with <= 7.0 cleanliness score together.

In [36]:
loc_overview_df = overview_df('scores_location')
loc_overview_df
# clean_overview_df['number of reveiws']/clean_overview_df['number of homes']

                 number of homes  number of reveiws
scores_location
4.0                            1                  1
6.0                            8                 13
7.0                           19                150
8.0                          128               1833
9.0                          884              29151
10.0                        2115              52534

In [40]:
len(set(loc_score7_df.home_id))
# loc_overview_df['number of homes']

28

In [42]:
# number of review selection around 1500.
loc_score7_df = sample2_rh_df[sample2_rh_df['scores_location'] <= 7.0]
print('Selected all ' + str(len(set(loc_score7_df.home_id))) + ' homes with score no more than 7.0. \nSample home_ids:')
print(list(set(loc_score7_df.home_id)))
print("With in total: " + str(len(loc_score7_df)) + ' reviews.')
print('*' * 90)

loc_score8_df = sample2_rh_df[sample2_rh_df['scores_location'] == 8.0]
print('Selected all ' + str(len(set(loc_score8_df.home_id))) + ' homes with score no more than 7.0. \nSample home_ids:')
print(list(set(loc_score8_df.home_id)))
print("With in total: " + str(len(loc_score8_df)) + ' reviews.')
print('*' * 90)

loc_score9_df = home_sample_review(9.0, 'scores_location', loc_overview_df)
print('*' * 90)
loc_score10_df = home_sample_review(10.0, 'scores_location', loc_overview_df)
print('*' * 90)

loc_score7_df.to_csv('./Data/loc_score7_df.csv', sep='\t', encoding='utf-8')
loc_score8_df.to_csv('./Data/loc_score8_df.csv', sep='\t', encoding='utf-8')
loc_score9_df.to_csv('./Data/loc_score9_df.csv', sep='\t', encoding='utf-8')
loc_score10_df.to_csv('./Data/loc_score10_df.csv', sep='\t', encoding='utf-8')

Selected all 28 homes with score no more than 7.0.
Sample home_ids:
[7965184, 8061699, 190984, 4041868, 1549973, 6215199, 613151, 6250399, 4951079, 5353512, 8083242, 5792683, 7071021, 6019762, 1022135, 23356, 4126284, 5104077, 6728017, 7415378, 6701018, 9183838, 3706719, 5637990, 6959336, 7839723, 1263470, 9157232]
With in total: 164 reviews.
******************************************************************************************
Selected all 128 homes with score no more than 7.0.
Sample home_ids:
[8525825, 5219336, 2610187, 8988178, 2586642, 716829, 6325283, 6425652, 3726391, 3904056, 4395578, 7205443, 2986056, 7420488, 5407311, 7431247, 5340242, 2056276, 4589654, 7429207, 1246809, 606297, 9449062, 9134196, 264829, 4144767, 3291777, 4395654, 7048843, 877203, 3951768, 8934054, 611500, 278192, 823989, 4340410, 3849918, 5471427, 693956, 696004, 6249164, 6411986, 1461971, 7013085, 7500000, 3449059, 7388899, 6226666, 4708075, 9736940, 2586350, 571640, 1340668, 571651, 4163851, 666897, 5021969, 1672979, 1566487, 6907671, 9473312, 2508065, 9238818, 5744931, 9507115, 7027507, 3533112, 2520890, 4130112, 2800448, 1905473, 5424448, 8921924, 670021, 609610, 7219541, 6545246, 9519968, 3939683, 8799588, 2016613, 9075558, 1484651, 5931372, 5365612, 9199982, 7007598, 7902068, 6291829, 4105081, 6416765, 2134911, 3544964, 1652107, 9151374, 1179538, 7934356, 2980762, 1571230, 385438, 3329962, 3859882, 8168876, 1815472, 3303857, 5376433, 6133684, 7203765, 9170870, 8342968, 7697340, 8952253, 5126077, 9532861, 6864319, 6714817, 5252543, 9564093, 1499596, 9186256, 8848854, 7922663, 9300972, 4825073, 3630581, 286712, 7095802, 3316219]
With in total: 1833 reviews.
******************************************************************************************
Selected 75 homes among 884 homes with score 9.0.
Sample home_ids:
[3821663 3155785 1494986 7638282 6776229 1351716 2486612 1133329 7459684
 7182584 6629278 6765354 3404700  788146 6403104 5559063 8340819 1594313
 4270642 7459637 6780615 6133354 7226013  215882 7247518 1715582 6783394
 8253955 8150145 2303981 1556170 1455908 6423204 8409969 8902887 5364609
 3061918 5195064 2071305  749758 6166307 6793490 4038347 6795678 3258213
 4257097 4565370 8409975 4016650 3263722 7809455 1029680 3613516 3812725
 6004058 1171574 3773784 6103108  219532 6349598 6278680 6436772 6888107
 3115801 6913414  762029 8501705 7245586  202174 6438013 5325809 7256122
 2298775 7401671 6562393]
With in total: 2017 reviews.
******************************************************************************************
Selected 75 homes among 2115 homes with score 10.0.
Sample home_ids:
[  20928 1167507  387078 5487934 4256705 8684315 7069080 3626497 9094836
 1483944 3876097 8173487 5315169 5969069 2386589 3024336 1978743 6543683
 7699096 4677524 5446180 3208667 5892185 5164194 3570691  935432 6762958
 5602370 6239108 1790020 7872818 7763613 8515408  254340 5383192 3403858
 2858482 5673552 2471731 6690388 4127196 3820186  934123 7742525 3022564
 1030411 4388148  557126 6707735 4526737 9679741 6592178 3626162 7077910
 4757025 3861673 3691288 7439802 9477539 5397134 8553556    9596 8583457
 8533375 7332364 6494181 4910140 3975434 4384343 7735282 8605841 7821351
 8690491 2267088 7735100]
With in total: 1967 reviews.
******************************************************************************************