In [2]:
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
import re

In [3]:
clean_score7_sents_sentiment_df = pd.read_csv('./Data/sentiment_counts/clean_sents_stm_df_7.csv', sep='\t', encoding='utf-8').set_index(['home_id'])
clean_score8_sents_sentiment_df = pd.read_csv('./Data/sentiment_counts/clean_sents_stm_df_8.csv', sep='\t', encoding='utf-8').set_index(['home_id'])
clean_score9_sents_sentiment_df = pd.read_csv('./Data/sentiment_counts/clean_sents_stm_df_9.csv', sep='\t', encoding='utf-8').set_index(['home_id'])
clean_score10_sents_sentiment_df = pd.read_csv('./Data/sentiment_counts/clean_sents_stm_df_10.csv', sep='\t', encoding='utf-8').set_index(['home_id'])

loc_score7_sents_sentiment_df = pd.read_csv('./Data/sentiment_counts/loc_sents_stm_df_7.csv', sep='\t', encoding='utf-8').set_index(['home_id'])
loc_score8_sents_sentiment_df = pd.read_csv('./Data/sentiment_counts/loc_sents_stm_df_8.csv', sep='\t', encoding='utf-8').set_index(['home_id'])
loc_score9_sents_sentiment_df = pd.read_csv('./Data/sentiment_counts/loc_sents_stm_df_9.csv', sep='\t', encoding='utf-8').set_index(['home_id'])
loc_score10_sents_sentiment_df = pd.read_csv('./Data/sentiment_counts/loc_sents_stm_df_10.csv', sep='\t', encoding='utf-8').set_index(['home_id'])

In [4]:
clean_score7_sents_sentiment_df

,num_of_sents_0.6,num_very_neg_0.6,num_neg_0.6,num_neut_0.6,num_pos_0.6,num_very_pos_0.6,num_sents
home_id,,,,,,,
30712,43,0,24,9,9,1,452
299817,0,0,0,0,0,0,19
613151,1,1,0,0,0,0,13
639130,0,0,0,0,0,0,31
666897,8,0,6,0,2,0,97
670009,3,0,1,1,1,0,87
670021,5,1,1,1,2,0,74
716829,0,0,0,0,0,0,7
1145590,1,0,0,0,1,0,46
1520533,4,0,1,2,1,0,37
1520581,3,1,1,0,1,0,39
1520593,8,0,5,0,2,1,63
1764233,6,0,5,0,1,0,68
2357110,1,0,0,0,0,1,12
2769088,6,1,4,0,1,0,57
2856806,0,0,0,0,0,0,17
3052151,2,1,0,0,1,0,50
3096191,11,1,6,2,2,0,71
3226793,4,1,1,0,2,0,47
3291777,10,0,7,2,1,0,73
3424242,2,0,0,1,0,1,44
3534364,7,1,1,1,4,0,61
3593582,1,0,0,1,0,0,16
3697351,20,1,10,3,5,1,413
3732094,1,0,0,0,0,1,20
3766285,0,0,0,0,0,0,1
3770248,3,0,2,0,1,0,45
3888924,0,0,0,0,0,0,23
3889050,2,0,1,0,1,0,34
4041868,2,0,1,1,0,0,47
...,...,...,...,...,...,...,...
6717555,0,0,0,0,0,0,2
6864319,0,0,0,0,0,0,1
6865200,5,0,2,0,3,0,42
6958436,0,0,0,0,0,0,6
6959336,0,0,0,0,0,0,21
6992696,6,0,6,0,0,0,26
7093910,3,0,2,0,0,1,13
7203765,0,0,0,0,0,0,7
7245586,1,0,1,0,0,0,22
7732071,0,0,0,0,0,0,7
7844444,0,0,0,0,0,0,18
7934356,0,0,0,0,0,0,18
7965184,1,0,0,0,1,0,13
7975026,0,0,0,0,0,0,10
7985714,0,0,0,0,0,0,2
8050232,11,0,10,0,0,1,81
8067053,0,0,0,0,0,0,13
8083242,3,0,1,2,0,0,25
8227710,0,0,0,0,0,0,11
8555304,0,0,0,0,0,0,9
8594059,1,0,0,0,1,0,11
8754180,1,0,1,0,0,0,20
8863714,2,0,1,0,1,0,16
8922554,0,0,0,0,0,0,9
8934054,0,0,0,0,0,0,5
9075558,7,0,7,0,0,0,38
9151374,0,0,0,0,0,0,12
9183838,2,0,1,1,0,0,25
9509279,2,0,1,1,0,0,15
9519968,5,0,2,1,2,0,26

In [11]:
# DF TO EXCEL
from pandas import ExcelWriter

writer = ExcelWriter('sentiment_new.xlsx')
clean_score7_sents_sentiment_df.to_excel(writer, sheet_name='clean_7_sheet')
clean_score8_sents_sentiment_df.to_excel(writer, sheet_name='clean_8_sheet')
clean_score9_sents_sentiment_df.to_excel(writer, sheet_name='clean_9_sheet')
clean_score10_sents_sentiment_df.to_excel(writer, sheet_name='clean_10_sheet')

loc_score7_sents_sentiment_df.to_excel(writer, sheet_name='loc_7_sheet')
loc_score8_sents_sentiment_df.to_excel(writer, sheet_name='loc_8_sheet')
loc_score9_sents_sentiment_df.to_excel(writer, sheet_name='loc_9_sheet')
loc_score10_sents_sentiment_df.to_excel(writer, sheet_name='loc_10_sheet')

writer.save()

In [12]:
xls = pd.ExcelFile('./sentiment_new.xlsx')
clean_7 = pd.read_excel(xls, 'clean_7_sheet', encoding='utf-8').set_index(['home_id'])
clean_8 = pd.read_excel(xls, 'clean_8_sheet', encoding='utf-8').set_index(['home_id'])
clean_9 = pd.read_excel(xls, 'clean_9_sheet', encoding='utf-8').set_index(['home_id'])
clean_10 = pd.read_excel(xls, 'clean_10_sheet', encoding='utf-8').set_index(['home_id'])

loc_7 = pd.read_excel(xls, 'loc_7_sheet', encoding='utf-8').set_index(['home_id'])
loc_8 = pd.read_excel(xls, 'loc_8_sheet', encoding='utf-8').set_index(['home_id'])
loc_9 = pd.read_excel(xls, 'loc_9_sheet', encoding='utf-8').set_index(['home_id'])
loc_10 = pd.read_excel(xls, 'loc_10_sheet', encoding='utf-8').set_index(['home_id'])

In [15]:
# df['num_very_neg_0.5'] = df['num_very_neg_0.5']/df['num_of_sents_0.5']
# df['num_neg_0.5'] = df['num_neg_0.5']/df['num_of_sents_0.5']
# num_very_neg_0.5	num_neg_0.5	num_neut_0.5	num_pos_0.5	num_very_pos_0.5


### compute the sentiment polarities distribution

def compute_pct(df):
    for col in df.columns[1:6]:
        df[col] = df[col]/df[df.columns[0]]
#     for col in df.columns[7:12]:
#         df[col] = df[col]/df[df.columns[6]]
#     for col in df.columns[13:18]:
#         df[col] = df[col]/df[df.columns[12]]
    
    return df[df.columns[:6]].set_index(df.index)

Index(['num_very_neg_0.6', 'num_neg_0.6', 'num_neut_0.6', 'num_pos_0.6',
       'num_very_pos_0.6'],
      dtype='object')

In [19]:
clean_7 = compute_pct(clean_7)
clean_8 = compute_pct(clean_8)
clean_9 = compute_pct(clean_9)
clean_10 = compute_pct(clean_10)

loc_7 = compute_pct(loc_7)
loc_8 = compute_pct(loc_8)
loc_9 = compute_pct(loc_9)
loc_10 = compute_pct(loc_10)

In [20]:
# DF TO EXCEL
from pandas import ExcelWriter

writer = ExcelWriter('senti_pct_new.xlsx')
clean_7.to_excel(writer, sheet_name='clean_7_sheet')
clean_8.to_excel(writer, sheet_name='clean_8_sheet')
clean_9.to_excel(writer, sheet_name='clean_9_sheet')
clean_10.to_excel(writer, sheet_name='clean_10_sheet')

loc_7.to_excel(writer, sheet_name='loc_7_sheet')
loc_8.to_excel(writer, sheet_name='loc_8_sheet')
loc_9.to_excel(writer, sheet_name='loc_9_sheet')
loc_10.to_excel(writer, sheet_name='loc_10_sheet')

writer.save()

In [6]:
(clean_score7_sents_sentiment_df['num_very_neg_0.6']/clean_score7_sents_sentiment_df['num_of_sents_0.6']).mean()

0.051580494976721396

In [7]:
(clean_score7_sents_sentiment_df['num_neg_0.6']/clean_score7_sents_sentiment_df['num_of_sents_0.6']).mean()

0.5035448802907984

In [8]:
# clean_pct_score7_5 = [
#     (clean_score7_sents_sentiment_df['num_very_neg_0.5']/clean_score7_sents_sentiment_df['num_of_sents_0.5']).mean(),
#     (clean_score7_sents_sentiment_df['num_neg_0.5']/clean_score7_sents_sentiment_df['num_of_sents_0.5']).mean(),
#     (clean_score7_sents_sentiment_df['num_neut_0.5']/clean_score7_sents_sentiment_df['num_of_sents_0.5']).mean(),
#     (clean_score7_sents_sentiment_df['num_pos_0.5']/clean_score7_sents_sentiment_df['num_of_sents_0.5']).mean(),
#     (clean_score7_sents_sentiment_df['num_very_pos_0.5']/clean_score7_sents_sentiment_df['num_of_sents_0.5']).mean()
# ]

clean_pct_score7_6 = [
    (clean_score7_sents_sentiment_df['num_very_neg_0.6']/clean_score7_sents_sentiment_df['num_of_sents_0.6']).mean(),
    (clean_score7_sents_sentiment_df['num_neg_0.6']/clean_score7_sents_sentiment_df['num_of_sents_0.6']).mean(),
    (clean_score7_sents_sentiment_df['num_neut_0.6']/clean_score7_sents_sentiment_df['num_of_sents_0.6']).mean(),
    (clean_score7_sents_sentiment_df['num_pos_0.6']/clean_score7_sents_sentiment_df['num_of_sents_0.6']).mean(),
    (clean_score7_sents_sentiment_df['num_very_pos_0.6']/clean_score7_sents_sentiment_df['num_of_sents_0.6']).mean()
]

# clean_pct_score7_7 = [
#     (clean_score7_sents_sentiment_df['num_very_neg_0.7']/clean_score7_sents_sentiment_df['num_of_sents_0.7']).mean(),
#     (clean_score7_sents_sentiment_df['num_neg_0.7']/clean_score7_sents_sentiment_df['num_of_sents_0.7']).mean(),
#     (clean_score7_sents_sentiment_df['num_neut_0.7']/clean_score7_sents_sentiment_df['num_of_sents_0.7']).mean(),
#     (clean_score7_sents_sentiment_df['num_pos_0.7']/clean_score7_sents_sentiment_df['num_of_sents_0.7']).mean(),
#     (clean_score7_sents_sentiment_df['num_very_pos_0.7']/clean_score7_sents_sentiment_df['num_of_sents_0.7']).mean()
# ]

# print(clean_pct_score7_5)
print(clean_pct_score7_6)
# print(clean_pct_score7_7)

[0.051580494976721396, 0.5035448802907984, 0.13628250689750424, 0.24967705673693988, 0.058915061098036084]

In [9]:
def mean_percent(df):
#     mean_pct5 = [
#         (df['num_very_neg_0.5']/df['num_of_sents_0.5']).mean(),
#         (df['num_neg_0.5']/df['num_of_sents_0.5']).mean(),
#         (df['num_neut_0.5']/df['num_of_sents_0.5']).mean(),
#         (df['num_pos_0.5']/df['num_of_sents_0.5']).mean(),
#         (df['num_very_pos_0.5']/df['num_of_sents_0.5']).mean()
#     ]
    
    mean_pct6 = [
        (df['num_very_neg_0.6']/df['num_of_sents_0.6']).mean(),
        (df['num_neg_0.6']/df['num_of_sents_0.6']).mean(),
        (df['num_neut_0.6']/df['num_of_sents_0.6']).mean(),
        (df['num_pos_0.6']/df['num_of_sents_0.6']).mean(),
        (df['num_very_pos_0.6']/df['num_of_sents_0.6']).mean()
    ]
    
#     mean_pct7 = [
#         (df['num_very_neg_0.7']/df['num_of_sents_0.7']).mean(),
#         (df['num_neg_0.7']/df['num_of_sents_0.7']).mean(),
#         (df['num_neut_0.7']/df['num_of_sents_0.7']).mean(),
#         (df['num_pos_0.7']/df['num_of_sents_0.7']).mean(),
#         (df['num_very_pos_0.7']/df['num_of_sents_0.7']).mean()
#     ]
    
#     return mean_pct5, mean_pct6, mean_pct7
    return mean_pct6

In [10]:
mean_percent(clean_score7_sents_sentiment_df)

# pd.DataFrame(mean_percent(clean_score7_sents_sentiment_df))

[0.051580494976721396,
 0.5035448802907984,
 0.13628250689750424,
 0.24967705673693988,
 0.058915061098036084]

In [9]:
clean_percent_summary_df = pd.DataFrame(index= ['clean_7_0.5', 'clean_7_0.6', 'clean_7_0.7', 
                                          'clean_8_0.5', 'clean_8_0.6', 'clean_8_0.7',
                                          'clean_9_0.5', 'clean_9_0.6', 'clean_9_0.7',
                                          'clean_10_0.5', 'clean_10_0.6', 'clean_10_0.7'], 
                                  columns = ['per_very_neg', 'per_neg', 'per_neut', 'per_pos', 'per_very_pos'])

In [10]:
# percent_summary_df['clean_7_0.5'] = mean_percent(clean_score7_sents_sentiment_df)[0]
# percent_summary_df['clean_7_0.6'] = mean_percent(clean_score7_sents_sentiment_df)[1]
# percent_summary_df['clean_7_0.7'] = mean_percent(clean_score7_sents_sentiment_df)[2]
mean_percent(clean_score7_sents_sentiment_df)[0]

[0.017619424521353434,
 0.40889625593709467,
 0.08614383247448812,
 0.429683360077781,
 0.05765712698928277]

In [11]:
clean_percent_summary_df.loc['clean_7_0.5', :] = mean_percent(clean_score7_sents_sentiment_df)[0]
clean_percent_summary_df.loc['clean_7_0.6', :] = mean_percent(clean_score7_sents_sentiment_df)[1]
clean_percent_summary_df.loc['clean_7_0.7', :] = mean_percent(clean_score7_sents_sentiment_df)[2]
clean_percent_summary_df.loc['clean_8_0.5', :] = mean_percent(clean_score8_sents_sentiment_df)[0]
clean_percent_summary_df.loc['clean_8_0.6', :] = mean_percent(clean_score8_sents_sentiment_df)[1]
clean_percent_summary_df.loc['clean_8_0.7', :] = mean_percent(clean_score8_sents_sentiment_df)[2]
clean_percent_summary_df.loc['clean_9_0.5', :] = mean_percent(clean_score9_sents_sentiment_df)[0]
clean_percent_summary_df.loc['clean_9_0.6', :] = mean_percent(clean_score9_sents_sentiment_df)[1]
clean_percent_summary_df.loc['clean_9_0.7', :] = mean_percent(clean_score9_sents_sentiment_df)[2]
clean_percent_summary_df.loc['clean_10_0.5', :] = mean_percent(clean_score10_sents_sentiment_df)[0]
clean_percent_summary_df.loc['clean_10_0.6', :] = mean_percent(clean_score10_sents_sentiment_df)[1]
clean_percent_summary_df.loc['clean_10_0.7', :] = mean_percent(clean_score10_sents_sentiment_df)[2]
clean_percent_summary_df

             per_very_neg   per_neg   per_neut   per_pos per_very_pos
clean_7_0.5     0.0176194  0.408896  0.0861438  0.429683    0.0576571
clean_7_0.6     0.0515805  0.503545   0.136283  0.249677    0.0589151
clean_7_0.7     0.0510741  0.445708   0.139354  0.296825    0.0670386
clean_8_0.5    0.00402598  0.301299   0.101921  0.534546    0.0584147
clean_8_0.6      0.014085  0.348182  0.0757989  0.493452     0.068482
clean_8_0.7    0.00621587  0.307347  0.0803796  0.530491    0.0755665
clean_9_0.5    0.00330646  0.300746  0.0730308  0.557899    0.0650172
clean_9_0.6    0.00551533  0.214835  0.0572529  0.604371     0.118026
clean_9_0.7     0.0057718  0.184341  0.0566187  0.629144     0.124125
clean_10_0.5   0.00251467  0.222966   0.101351  0.581133    0.0922107
clean_10_0.6   0.00128205  0.162873  0.0562852  0.669901     0.109658
clean_10_0.7            0  0.152931  0.0531458  0.682426     0.111497

In [12]:
# DF TO EXCEL
from pandas import ExcelWriter

writer = ExcelWriter('senti_percent.xlsx')
clean_percent_summary_df.to_excel(writer, sheet_name='cleanliness_senti_per')

writer.save()